{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'Détail d\'une saison' }}
{% endblock %}

{% block body %}
    <h2>Saison : {{ season.number }}</h2>
    <p>Date de sortie : {{ season.firstAirDate | date('d/m/Y') }}</p>
{% endblock %}