{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() ~ ' - ' ~ 'Créer une série' }}
{% endblock %}

{% block body %}
Formulaire de creation d'une serie
    <div>
        {{ form(serieForm) }}
    </div>
{% endblock %}
